.dynamic-data {
  display: flex;
  width: 97%;
  margin: 2rem 0.5rem;
}

.artist-profile {
  display: flex;
  gap: 2rem;
  width: 100%;
  height: 50vh;
  background: #2b2a2a;
  padding: 20px;
  border-radius: 16px;
  color: #e9ecef;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.artist-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  width: 260px;
  flex-shrink: 0;
}

.artist-header img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.artist-header-overlay {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.s-artist-name {
  font-size: 22px;
  font-weight: bold;
  color: var(--minor-theme);
}

.art-band-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: #1b1b1b;
  padding: 12px;
  border-radius: 10px;
  font-size: 14px;
}

.members-count- {
  display: flex;
  align-items: center;
  gap: 6px;
}

.artist-info {
  display: flex;
  gap: 1.5rem;
  flex: 1;
}

.info-section {
  background: #2b2a2a;
  padding: 15px;
  width: 56%;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  height: inherit;
}

.info-section h2 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #fff;
  border-bottom: 1px solid #444;
  padding-bottom: 5px;
}

.members-title {
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 1.3rem;
  color: var(--minor-theme);
}

.members-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: auto;
  padding-right: 1rem;
}

.member-tag {
  display: flex;
  align-items: center;
  background: #565657;
  color: #fff;
  padding: 1rem 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.1rem;
}

.member-tag:hover {
  color: var(--minor-theme);
  cursor: pointer;
}

.info-section-loc {
  overflow-y: auto;
}

.date-loc {
  padding-bottom: 1rem;
  color: var(--minor-theme);
}

.concerts-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  padding-right: 5px;
}

.concert-card {
  background: #2b2a2a;
  color: #e9ecef;
  padding: 10px;
  border-radius: 8px;
  transition: 0.2s ease;
  overflow-y: auto;
}

.concert-card:hover {
  transform: translateX(5px);
}

.concert-location {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
}

.concert-date {
  font-size: 12px;
  background: #333;
  color: white;
  padding: 3px 8px;
  border-radius: 10px;
}

.m-icon {
  padding-right: 0.4rem;
}

.m-icon:hover {
  color: var(--minor-theme);
}

.no-concerts {
  font-size: 13px;
  color: #aaa;
  text-align: center;
  margin-top: auto;
}

.members-list::-webkit-scrollbar,
.concerts-list::-webkit-scrollbar {
  width: 6px;
}

.members-list::-webkit-scrollbar-thumb,
.concerts-list::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .artist-profile {
    flex-direction: column;
  }

  .artist-header {
    width: 100%;
  }

  .artist-info {
    width: 100%;
  }
}
