<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=groups_2" />
    <title>{{.Title}}</title>
</head>
<body>
    <nav class="nav-bar">
        <h1><span class="g-l">GT</span>rackers</h1>
        <div class="nav">
            <a href="/">Home</a>
            <!-- <form action="POST">
                <input type="text">
            </form> -->
            <a href="/search">Search Artists</a>
        </div>
    </nav>
    <div class="display-section">
        <section class="side-bar">
            <p class="groupy">Groupie Tracker</p>
            <div class="dash-elem">
                <a class="a-dash" href="/all-artists">
                    <span class="material-symbols-outlined">
                        groups_2
                    </span>
                    All artists
                </a>
                <a class="a-dash" href="/upcomming-events">
                    <span class="material-symbols-outlined">
                        <img src="/static/icons/cal.svg" alt="cal icon" loading="lazy">
                    </span>
                    Previous Events
                </a>
                <a class="a-dash" href="/all-events">
                    <span class="material-symbols-outlined">
                        <img src="/static/icons/cal.svg" alt="cal icon" loading="lazy">
                    </span>
                    All Events
                </a>
                <a href="/locations" class="a-dash">
                    <span>
                        <img src="/static/icons/location.svg" alt="location icon" loading="lazy">
                    </span>
                    Event locations
                </a>
            </div>
        </section>
        <section class="container">
            <div>
                <div class="prev-title">
                    <p>Most Previous Events</p>
                    <a href="/all-event">see more</a>
                </div>
               <div>
                <p></p>
               </div>
            </div>
            <div class="stats">
                <strong>Top Performing <span class="g-l">Artists</span></strong>
            </div>
            <div class="artists-grid">
                {{range .Artists}}
                <a href="/artist/{{.ID}}" class="artist-card">
                    <div class="artist-img-cont">
                        <img src="{{.Image}}" alt="{{.Name}}" class="artist-image">
                    </div>
                    <div class="artist-info">
                        <div class="artist-name">{{.Name}}</div>
                        <div class="artist-details">
                            <p>Band started on {{.CreationDate}}</p>
                            <p>First album {{.FirstAlbum}}</p>
                        </div>
                        <div class="view-more">
                            <p class="art-members">
                                <span class="material-symbols-outlined">
                                    groups_2
                                </span>
                                <span class="m-count">{{len .Members}}</span>
                            </p>
                            <span class="member-count">View Concerts →</span>
                        </div>
                    </div>
                </a>
                {{end}}
            </div>
        </section>
    </div>
</body>

</html>